a{
    color:$link-color;
    &:hover{
        color:$link-color;
        text-decoration: none;
    }
}

@mixin myInput(){
    border: 0px;
    padding: 7px;
    color : $heading-color;
    margin-bottom: 18px;
}
@mixin myInputBorder(){
    border: 1px solid transparent;
}
@mixin myHeading(){
    color:$heading-color;
    font-weight: bold;
}

@mixin myHeadingPadding(){
    padding: 18px 0px;
}

@mixin smooth(){
    transition: all 0.2s ease-in-out;
}
@mixin smooth2($ss){
    transition: all $ss ease-in-out;
}

@mixin bold(){
    font-weight: bold;
}

@mixin box-style($val){
    @if($val == 1)
    {
        border-radius: 4px;
        background-color: $sec-color;
        @include box-shadow(0px 0px 30px $shadow-color);
        @include smooth();
        padding: 20px;
        margin-bottom: 30px;
        &:hover{
            @include box-shadow(0px 0px 50px $shadow-color);
            @include smooth();
        }
        h1,h2,h3,h4,h5,h6{
            color: $heading-color;
            font-size : $font-xlg;
            font-family: $first-font;
        }
        table{
            th{
                padding: 8px 10px ;
            }
        }
    }
}

@mixin btn-style($val){
    @if($val == 1){
        border: 1px solid transparent;
        background-color: $main-color;
        padding: 10px 30px;
        border-radius: 30px;
        @include smooth();
        &:hover{
            background-color: $sec-color;
            border: 1px solid $main-color;
            color: $main-color;
            @include smooth();
            @include box-shadow(4px 4px 5px #ddd);
        }
    }
}

@mixin cir($w){
    width: $w;
    height: $w;
    border-radius: 50%;
    border:3px solid $shadow-color;
    @include smooth();
    &:hover{
        @include smooth();
        @include box-shadow(0px 0px 10px $shadow-color);
    }
}

@mixin cen(){
    display: block;
    margin: auto;
}

@mixin par($var){
    @if($var == 1 ){
        display: block;
        text-align: center;
    }

}

@mixin tbl(){
    tr{
        border-radius: 5px;
        text-align: center;
        background-color: $def;
        box-shadow: 0px 0px 5px $shadow-color;// rgb(206, 215, 224) ;
        //display: block;
        margin-bottom: 30px!important;
       
    }
    tr.head{
        color:$table-font-color;
        margin-bottom: 20px;
        box-shadow: 0px 0px 0px $shadow-color;
    }
}

@mixin icon-hover($val){
    @if($val == 1)
    {
        @include smooth();
        cursor: pointer;
        &:hover{
            color:$main-color;
            @include smooth();
        }
    }
}